<div class="jumbotron">
  <h2>Sign up!</h2>
  <br>
  <h3>
    <%= form_for :user, url: '/users' do |f| %>

      <p>First Name: </p>
      <p style="margin-top: -10px;"><%= f.text_field :first_name %></p>
      <p>Last Name: </p>
      <p style="margin-top: -10px;"><%= f.text_field :last_name %></p>
      <p>Email: </p>
      <p style="margin-top: -10px;"><%= f.text_field :email %></p>
      <p>Password: </p>
      <p style="margin-top: -10px;"><%= f.password_field :password %></p>
      <p>Password Confirmation: </p>
      <p style="margin-top: -10px;"><%= f.password_field :password_confirmation %></p>
      <p style="margin-top: 30px; margin-left: 3.5em;"><%= f.submit "Register! 😊", class: "btn btn-info" %></p>

    <% end %>
  </h3>
</div>